<div class="container-fluid">
	<div class="col-md-6 col-md-offset-3">
		<h2>Nice to see you again! Log in!</h2>
		<br>
		<form class="form" method="POST" action="/auth/login">
			<input type="text" class="form-control" placeholder="Enter your email" name="email" autofocus>
			<br>
			<input type="password" class="form-control" placeholder="Enter your password" name="password">
			<br>
			<input type="submit" value="Log me in" class="btn btn-success">
		</form>
		<a href="signup" class="btn btn-primary">New here? Sign up!</a>
	</div>
</div>