<!-- <div class="container-fluid"> -->

<div class="col-md-6">
    <h2>Nice to see you again! Log in!</h2>
    <form class="form" method="POST" action="/auth/login">
        <input type="text" class="form-control" placeholder="Enter your email" name="email" autofocus>
        <br><br>
        <input type="password" class="form-control" placeholder="Enter your password" name="password">
        <br><br>
        <input type="submit" value="log me in" class="btn btn-primary">
    </form>
</div>
<!-- </div> -->