<div class="container-fluid"> 
  <div class="col-md-6 col-md-offset-3">
    <h2>Let's be friends! Sign up!</h2>
    <br>
    <form class="form" method="POST" action="/auth/signup">
      <input type="text" id="focus2" class="form-control" placeholder="Enter your name" name="name" autofocus>
      <br>
      <input type="text" class="form-control" placeholder="Enter your email" name="email">
      <br>
      <input type="password" class="form-control" placeholder="Choose a password" name="password">
      <br>
      <input type="password" class="form-control" placeholder="Re-type your password" name="password2">
      <br>
      <input type="submit" value="Sign up" class="btn btn-success">
    </form>
    <a href="login" class="btn btn-primary">Been here before? Log in!</a>
  </div>
</div>