<!--- once the user has logged in, show this page with the search functionality --> 


<form action="/beers" method="GET" role="form">
  <legend>Search for your favorite beers</legend>

  <div class="form-group">
    <label for="">Search</label>
    <input type="text" class="form-control" id="" placeholder="ex. stout" name="q">
  </div>
  <button type="submit" class="btn btn-primary">this way for tasty beers</button>
</form>



<!-- BREWMASTER'S CHOICE - random selection. WANT THIS ACTION TO HAPPEN WHEN NO SEARCH QUERY IS '' -->
<form action="/beers" method="GET" role="form">
<legend>BREWMASTER'S CHOICE</legend>

<div class="form-group">
	<label for="">Search</label>
	</div>

	<button type="submit" class="btn btn-primary">brewmaster's choice</button>

</form>