<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <title>BeerMe!</title>
</head>
<body>

<div class="container">
	<div class="row">
	<% include ./partials/alerts %>
	</div>
</div>
<div class="container">
<a href="/">home</a>
<a href="/about">about</a>
  <%- body %>
</div>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>