<h1>Search Results</h1>

<% beers.data.forEach(function(beer) { %>
	<% if(beer.type === 'brewery') { %>
		<% return; %>
	<% } else { %>
		<div class="well well-sm">
		 <a href="beer/show/<%=beer.id %>"><h3><%= beer.breweries[0].name +' '+ beer.name %></h3></a>
		</div>
	<% } %>
<% }); %>
